/* With help from ChatGPT */
.roadmap {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 10px;

    background-color: #f0f0f0;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 80%;
    margin: 15px auto;
  
}
.milestone {
    flex: 1 1 40%;
    text-align: center;
    padding: 20px;
    border-left: 2px solid black;
    position: relative;
    box-sizing: border-box;
    margin-bottom: 10px;
}
.milestone:first-child {
    border-left: none;
}
.milestone h2 
{
    text-align: left;
    color: black;
    
    margin-left: 1.6em;
    margin-right: 1.6em;
   
    /* color: #333; */
}
.milestone p 
{
    color: black;
    margin-left: 2em;
    margin-right: 2em;
    text-align: left;
}
.milestone::before {
    content: '';
    position: absolute;
    top: 0;
    left: -8px;
    width: 16px;
    height: 16px;
    background-color: white;
    border: 2px solid black;
    border-radius: 50%;
    transform: translateY(-50%);
}
a
{
    text-decoration: none;
}

/* TABLET */
@media screen and (min-width: 768px) and (max-width: 1024px) {
    .container {
      grid-template-columns: 1fr 1fr;
      grid-template-areas:
        "head head"
        "nav nav"
        "main main"
        "aside1 aside1";
    }
    main {
      margin-left: -2.2em; 
      padding-left: 9.5em; 
    }
    img,
    figcaption {
      width: 80%;
      margin-left: auto;
      margin-right: auto;
      text-align: center;
    }
    iframe {
      border: none;
      max-width: 100%;
      width: calc(100% - 4.5em); 
      height: 600px;
      margin: 0 auto;
      padding-left: 0.3em; 
    }
    .milestone {
        flex-basis: 100%;
    }
    .milestone p 
    {
        margin-left: 1.3em;
        margin-right: 1.3em;
        
        text-align: left;
    }
    .milestone h2
    {
        text-align: left;
        margin-left: 1.1em;
        margin-right: 1.1em;
    }
    .roadmap
    {
        margin-left: calc(65px - 5%);
    }
  }

@media (max-width: 640px) {
    .milestone {
        flex-basis: 100%;
    }
    .milestone p 
    {
        margin-left: 1.3em;
        margin-right: 1.3em;
        
        text-align: left;
    }
    .milestone h2
    {
        text-align: left;
        margin-left: 1.1em;
        margin-right: 1.1em;
    }
    .roadmap
    {
        margin-left: 2.2em;
    }
}

.milestone:hover {
    background-color: white;
}