body {
	background: lightblue;
	font-size: 23px;
}


/* Hide only visually, but have it available for screen readers: */

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;

}

.container {
	margin:  0 auto;
	max-width: 960px;
}

h1 {
	font-size: 1.8em;
}

h2{
	font-size: 1.4em;
}

p{
	line-height:  1.5 em;
}