@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&family=Roboto+Slab:wght@100&display=swap');

body {
	background: #FFDDBD;
	font-size: 1.2 em;
}


/* Hide only visually, but have it available for screen readers: */

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;

}

.no-bullet{
  list-style: none;
}

nav ul li a:hover{
  color: black;
  background: white;
}

.container {
  margin:  0 auto;
  max-width: 960px;
}

h1 {
  font-size: 2em;
  font-family: 'Roboto Slab', serif;
}

h2{
  font-size: 1.4em;
  font-family: 'Roboto Slab', serif;
}

h3{
  font-size: 1.3em;
  font-family: 'Roboto Slab', serif;
}

h4{
  font-size: 1.2em;
font-family: 'Roboto Slab', serif;
}

p{
  line-height:  1.5em;
  font-family: 'Open Sans', sans-serif;
}